annotated-types
anyio
click
dnspython
email_validator
fastapi
h11
idna
inflect
markdown-it-py
mdurl
more-itertools
pydantic
pydantic_core
Pygments
PyJWT
python-multipart
rich
shellingham
sniffio
SQLAlchemy
starlette
typeguard
typer
typing_extensions
uvicorn
alembic
